table.row.panel.half-spacer: tr: td
table.row.panel
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            h2.heading.center: i Our Recent Favorites
          td.expander


table.row.panel
  tr
    td.wrapper
      table.four.columns
        tr
          td.center
            .image--border
              a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/458982.png')
            p.center.orange: a(href='#') Most Saved
            p.center: small See the recipes that are saved most often by cooks like you.
          td.expander
    td.wrapper
      table.four.columns
        tr
          td.center
            .image--border
              a(href='#'):  img(src='http://allrecipesemail.s3.amazonaws.com/200866.png')
            p.center.orange: a(href='#') Most Photos
            p.center: small See the recipes that are saved most often by cooks like you.
          td.expander
    td.wrapper.last
      table.four.columns
        tr
          td.center
            .image--border
              a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/87581.png')
            p.center.orange: a(href='#') Highest Rated
            p.center: small See the recipes that are saved most often by cooks like you.
          td.expander

table.row.panel(align="center")
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.expander
          td.center(colspan='12')
              //if mso
              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height: 40px; v-text-anchor: middle; width: 200px;', arcsize='125%', stroke='f', fillcolor='#F5A623')
                w:anchorlock
                center
              a.button.orange.wide(href='http://'): i See more personalized tools
              //if mso
          td.spacer
table.row.panel.spacer: tr: td