table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center(colspan='12')
            h1.headline Eploring Allrecipes
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            p.outer-pad Now that you know us, we’d love to show you around. Here are our most popular recipes to inspire and make your mealtimes oh-so delicious. 
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            a(href='#') Visit your Allrecipes account
          td.expander
table.spacer
  tr: td