.app
  .six.columns
    padding 0
    width 100%

  .cooking_school
    +above(tablet)
      margin spacer 0 spacer 10%
      width 80%
    .wrapper
      padding 0
      table.four
        width 120px