.exploring
  .headline, .outer-pad
    padding-bottom 0
  .panel
    background lightyellow

  .inspiration
    +above(tablet)
      margin (spacer * 2) 0 spacer
      td.wrapper
        padding 0
      .image--circle
        height 150px
      


