.myallrecipes
  h1.headline
    padding-top 12px
    padding-bottom 0
  .panel
    background lightyellow
  .moments 
    .wrapper td.center, .wrapper
      padding 0

  h2.headline
    padding-bottom 18px