table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center(colspan='12')
            h1.headline #MyAllrecipes
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            | Being social is our thing. We’re always inspired by the Allrecipes community and want you to be too. Tag your photos and tweets with #MyAllrecipes and join the conversation and fun.
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            a(href='#') See our social hub
          td.expander
table.half-spacer: tr: td