table.row
  tr
    td.wrapper.last(colspan='12')
      table.twelve.columns.panel
        tr
          td.center
            h3.headline Our best moments
          td.expander
      table.twelve.columns.panel
        tr 
          td
            table.row.moments
              tr
                td.wrapper
                  table.four.columns
                    tr
                      td.center
                        .image--round
                          a(href='http://instagram.com/allrecipes'): img(src='http://allrecipesemail.s3.amazonaws.com/instagram.png')
                        p.orange Instagram
                      td.expander
                td.wrapper.column-border
                  table.four.columns
                    tr
                      td.center
                        .image--round
                          a(href='http://www.pinterest.com/allrecipes/'): img(src='http://allrecipesemail.s3.amazonaws.com/pinterest.png')
                        p.orange Pinterest
                      td.expander
                td.wrapper.last
                  table.four.columns
                    tr
                      td.center
                        .image--round
                          a(href='https://www.facebook.com/allrecipes'): img(src='http://allrecipesemail.s3.amazonaws.com/facebook.png')
                        p.orange Facebook
                      td.expander
                        
      table.twelve.columns.panel.spacer
        tr
          td.center(colspan='12')
      table.twelve.columns.panel
        tr
          td.expander
          td.center(colspan='12')
              //if mso
              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height: 40px; v-text-anchor: middle; width: 200px;', arcsize='125%', stroke='f', fillcolor='#FDA834')
                w:anchorlock
                center
              a.button.orange(href='http://'): i See what's cooking
              //if mso
          td.expander
      table.twelve.columns.panel.spacer
        tr
          td.center(colspan='12')