table.row
  tr
    td.wrapper.last(colspan='12')
      table.twelve.columns
        tr
          td.expander
          td.center
            h2.center.headline #MyAllrecipes
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.wrapper.no-pad

            table.three.columns
              tr
                td.center.no-pad
                  .image--border
                    a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/458982.png')
                  
                td.expander
          td.wrapper.no-pad
            table.three.columns
              tr
                td.center.no-pad
                  .image--border
                    a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/458982.png')
                td.expander
          td.wrapper.no-pad
            table.three.columns
              tr
                td.center.no-pad
                  .image--border
                    a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/458982.png')
                td.expander
          td.wrapper.no-pad.last
            table.three.columns
              tr
                td.center.no-pad
                  .image--border
                    a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/458982.png')
                td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.two-thirds.no-pad
            a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/pie.png' height='100%' width='auto')
          td.one-third.grey-border
            table.card
              tr
                td.center.pad
                  table
                    tr: td: table
                      tr                                      
                        td.profile.align-center: img(src='http://allrecipesemail.s3.amazonaws.com/amy-poehler.jpg' height='30px')
                        td.profile-title.align-center @amypoehler
                    tr
                      td: h3 Title of Recipe
                    tr
                      td 
                        img.star(src='https://s3-us-west-2.amazonaws.com/allrecipesemail/small_stars.png' height='12px')
                    tr
                      td: p: Lorem ipsum Mollit dolore et aliqua pariatur Duis reprehenderit sunt ex eu eu sed non anim in.
                    tr
                      td
                        | #tag, #tag, #tag, #tag, #tag, #tag 
                    tr
                      td
                        a.button(href='#') See the recipe
                    tr: td.border-top: table: tr.share-links
                      td.first(style='vertical-align:middle;'): small Share it: &nbsp;
                      td: a(href='#'): img(height='20px' src='https://s3-us-west-2.amazonaws.com/allrecipesemail/grey/pinterest.gif')
                      td: a(href='#'): img(height='20px' src='https://s3-us-west-2.amazonaws.com/allrecipesemail/grey/facebook.gif')
                      td: a(href='#'): img(height='20px' src='https://s3-us-west-2.amazonaws.com/allrecipesemail/grey/twitter.gif')
                      td: a(href='#'): img(height='20px' src='https://s3-us-west-2.amazonaws.com/allrecipesemail/grey/tumblr.gif')
                      td: a(href='#'): img(height='20px' src='https://s3-us-west-2.amazonaws.com/allrecipesemail/grey/mail.gif')
                td.expander

table.twelve.columns.spacer.double
  tr
    td.center(colspan='12')
    td.center(colspan='12')