.button
  background-color grey
  border-radius 50px 
  background yelloworange
  color white
  display inline-block 
  font-size 16px 
  font-weight bold 
  line-height 40px 
  text-align center 
  text-decoration none 
  width 200px 
  margin 0 auto 
  -webkit-text-size-adjust none  
  &:hover
    background darken(yelloworange, 10%)
  
  &.wide
    width 280px