.card
  * 
    text-align left
    font-family sans-serif
  font-size 12px

  p
    font-size 12px
    line-height 1.4
  h3
    color base-color
    font-weight bold
    font-size 16px
  a.button
    display inline-block
    background grey
    color white
    text-align center
    border-radius 0
    width auto
    padding 0 10px
    line-height 30px
    font-size 12px
    font-weight 100
  .share-links td
    width 25px
    padding-top spacer
  .share-links td.first
    width auto

