.image
  text-align center
  position relative
  display block

  &--border
    border 5px solid white
    box-shadow 0 0 3px darken(lightgrey, 10%)
    width 130px
    margin (spacer * .5) auto
    a  
      display block
    &.large
      width 250px
      img 
        width 100%

  &--round
    border-radius 50%
    width 120px
    margin 0 auto spacer
    height 120px
    overflow hidden
    a  
      display block

    &.border
      border 7px solid lightyellow
  

  