table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center(colspan='12' bgcolor='#ffffff', valign='top').border-break
            center
              //if gte mso 9
                v:rect(xmlns:v='urn:schemas-microsoft-com:vml', fill='true', stroke='false', style='mso-width-percent: 1000; height: 12px;')
                  v:fill(type='tile', src='https://s3-us-west-2.amazonaws.com/allrecipesemail/border.png', color='#ffffff')
                  v:textbox(inset='0,0,0,0')
              //if gte mso 9
          td.expander