table.row.footer
  tr
    td.wrapper.center.last(colspan='12')
      table.eight.columns(align='center')
        tr
          td.expander
          td.center.footer-links
            p Footer
table.row.spacer
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.expander
          td.expander  




//- include ./nav