table.row.footer
  tr
    td.wrapper.center.last(colspan='12')
      table.eight.columns(align='center')
        tr
          td.expander
          td.center.footer-links
            a(href="https://www.facebook.com/allrecipes"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/facebook.png')
            a(href="http://www.pinterest.com/allrecipes/"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/pinterest.png')
            a(href="https://twitter.com/Allrecipes"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/twitter.png')
            a(href="http://instagram.com/allrecipes"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/instagram.png')          
            a(href="https://plus.google.com/+allrecipes/posts"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/googleplus.png')
            a(href="http://allrecipes.tumblr.com/"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/tumblr.png')
            a(href="http://www.youtube.com/user/allrecipes"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/youtube.png')
            a(href="#"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/fresh.png')
            a(href="http://www.stumblefupon.com/channel/Allrecipes"): img(src='http://allrecipesemail.s3.amazonaws.com/social-icons/stumbleupon.png')
          td.expander
table.row.spacer
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.expander
          td.expander  




//- include ./nav