table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.expander
          td.center(colspan='12')
            img(src='http://allrecipesemail.s3.amazonaws.com/allrecipes-logo.png')
          td.expander
