/* /////////////////////////////////////////////////////

GLOBAL LAYOUT

///////////////////////////////////////////////////// */

table[class="body"] table.columns td.third
  width 33.3333% !important

