.headline
  padding spacer 0
  +above(tablet)
    padding spacer * 2
  font-style italic
  h1
    font-size 30px
    line-height 1.1
    
h2.headline
  font-size 25px



small
  line-height .5

.subheading
  padding-bottom spacer


h1, h2, h3
  color orange
  &.pad 
    padding 0 0 spacer

  a 
    text-decoration none
    color orange

p.pad
  margin spacer 0 (spacer/2)


.orange a
  color orange
  