table.row
  tr
    td.wrapper.last
      table.twelve.columns.panel
        tr
          td.wrapper
            table.six.columns
              tr
                td.panel.center
                  .image--border.large
                    a(href='#'): img(src="https://s3-us-west-2.amazonaws.com/allrecipesemail/grilled-chicken.png")
                  p.orange: a(href='#') Honey Mustard
                  p.orange: a(href='#') Grilled Chicken
                  img.star(src='https://s3-us-west-2.amazonaws.com/allrecipesemail/four_plus_stars.png')
                td.expander
          td.wrapper.last
            table.six.columns
              tr
                td.panel.center
                  .image--border.large
                    a(href='#'): img(src="https://s3-us-west-2.amazonaws.com/allrecipesemail/kebab.png")
                  p.orange: a(href='#') Yummy Honey
                  p.orange: a(href='#') Chicken Kabobs
                  img.star(src='https://s3-us-west-2.amazonaws.com/allrecipesemail/four_plus_stars.png')
                td.expander
table.row
  tr
    td
      table.twelve.columns.panel
        tr
          td.panel.center(colspan='12')
            p.pad-bottom Everyday cooks need everyday ideas. Here are a few meals we think you’ll enjoy preparing. 
table.row
  tr
    td
      table.twelve.columns.panel
        tr
          td.expander
          td.center(colspan='12')
              //if mso
              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height: 40px; v-text-anchor: middle; width: 200px;', arcsize='125%', stroke='f', fillcolor='#FDA834')
                w:anchorlock
                center
              a(href='http://', style='background-color: #F5A623; border-radius: 50px; color: #FFFFFF; display: inline-block; font-size: 18px; font-family: georgia, serif; line-height: 40px; text-align: center; text-decoration: none; width: 250px; margin: 0 auto; -webkit-text-size-adjust: none;'): i See all recommendations
              //if mso
          td.expander
      table.twelve.columns.panel.spacer: tr: td