table.row
  tr
    td
      table.row
        tr
          td.wrapper.last
            table.twelve.columns
              tr
                td
                  .headline
                    h1.center Spin your way to dinner

                  p.center
                    | You know about Allrecipes, but have you seen our app? Have dinner on the table tonight with less fuss and more fun. 
              tr
                td.center
                  img(src="https://s3-us-west-2.amazonaws.com/allrecipesemail/app.png")
        tr.row
          td
            div.spacer
      table.row
        tr
          td.expander
          td.half.right.pad-right(align='right')
            a(href='#'): img(src="https://s3-us-west-2.amazonaws.com/allrecipesemail/googleplay.png")
          td.half
            a(href='#'): img(src="https://s3-us-west-2.amazonaws.com/allrecipesemail/appstore.png")
          td.expander