table.row.spacer: tr: td
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            h3.heading.center: i What's new? Allrecipes Cooking School!
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            p Cooking School gives you the cooking know-how, fundamental skills and confidence to make mealtime simple, quick and fun. You can take one class or an entire series of classes. Each lesson features an instructional video, illustrated step-by-step instructions, cooking projects, recipes, community forums for troubleshooting and sharing successes, quizzes, and way more.



table.row.margin-top.cooking_school
  tr
    td.wrapper
      table.four.columns
        tr
          td.center
            .image--circle
              a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/icecream.png')
          td.expander
    td.wrapper
      table.four.columns
        tr
          td.center
            .image--circle
              a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/icecream.png')
          td.expander
    td.wrapper.last
      table.four.columns
        tr
          td.center
            .image--circle
              a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/icecream.png')
          td.expander

table.row(align="center")
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center(colspan='12')
            center.pad-bottom
              a(href='#') Interested? Get in touch.
          td.spacer
table.row.half-spacer: tr: td