table.body
    tr
        td.center(align='center', valign='top')
          center
            table.container
              tr
                td
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | yo
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | *************************************
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | welcome to
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | hello
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | our recent favorites
                            td.expander
         
                  
                  table.row
                    tr
                      td.wrapper
                        table.four.columns
                          tr
                            td.center.panel
                              | .four.columns
                            td.expander
                      td.wrapper
                        table.four.columns
                          tr
                            td.center.panel
                              | .four.columns
                            td.expander
                      td.wrapper.last
                        table.four.columns
                          tr
                            td.center.panel
                              | .four.columns
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | delicious
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | see more
                            td.expander
                          
                  table.row
                    tr
                      td.wrapper
                        table.three.colums
                          tr
                            td.panel
                              | spoon
                            td.expander
                      td.wrapper.center
                        table.six.columns
                          tr
                            td.two.sub-columns
                              table.row
                                tr
                                  td.center.panel
                                    | yo
                            td.ten.sub-columns.center
                              p.center: a(href='#') link
                              p.center: a(href='#') link
                              p.center: a(href='#') link
                                  
                            td.two.sub-columns
                              table.row
                                tr
                                  td.center.panel
                                    | yo
                              
                            
                      td.wrapper.last
                        table.three.columns
                          tr
                            td.panel
                              | fork
                            td.expander
                  
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | magazine
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | *************************************
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | what else
                            td.expander
                   
                  table.row
                    tr
                      td.wrapper
                        table.two.colums
                          tr
                            td
                            td.expander
                      td.wrapper.center
                        table.eight.columns
                          tr
                            td
                              p.center
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                              
                              
                            
                      td.wrapper.last
                        table.two.columns
                          tr
                            td
                            td.expander              
                 