table.body
    tr
        td.center(align='center', valign='top')
          center
            table.container
              tr
                td
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | yo
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | *************************************
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | welcome to
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | hello
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | our recent favorites
                            td.expander
         
                  
                  table.row
                    tr
                      td.wrapper
                        table.six.columns
                          tr
                            td.panel.center
                              | .six.columns
                            td.expander
                      td.wrapper.last
                        table.six.columns
                          tr
                            td.panel.center
                              | .six.columns
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | delicious
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | see more
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              h2.center title
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | lorem ipsum
                            td.expander
                          
                  table.row
                    tr
                      td.wrapper
                        table.four.columns
                          tr
                            td.panel
                            td.expander
                      td.wrapper.center
                        table.four.columns
                          tr
                            td.panel
                            td.expander
                              
                            
                      td.wrapper.last
                        table.four.columns
                          tr
                            td.panel
                            td.expander
                  
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | magazine
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | *************************************
                            td.expander
                  table.row
                    tr
                      td.wrapper.last
                        table.twelve.columns
                          tr
                            td.center.panel
                              | what else
                            td.expander
                   
                  table.row
                    tr
                      td.wrapper
                        table.two.colums
                          tr
                            td
                            td.expander
                      td.wrapper.center
                        table.eight.columns
                          tr
                            td
                              p.center
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                                a(href='#') link
                              
                              
                            
                      td.wrapper.last
                        table.two.columns
                          tr
                            td
                            td.expander              
                 