table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center.panel
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center.panel
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center.panel
          td.expander


table.row
  tr
    td.wrapper
      table.four.columns
        tr
          td.center.panel
          td.expander
    td.wrapper
      table.four.columns
        tr
          td.center.panel
          td.expander
    td.wrapper.last
      table.four.columns
        tr
          td.center.panel

          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center.panel

          td.expander
table.row
  tr
    td.wrapper
      table.three.columns
        tr
          td.center.panel

          td.expander
    td.wrapper
      table.three.columns
        tr
          td.center.panel

          td.expander
    td.wrapper
      table.three.columns
        tr
          td.center.panel

          td.expander
    td.wrapper.last
      table.three.columns
        tr
          td.center.panel

          td.expander
table.row
  tr
    td.wrapper
      table.eight.columns
        tr
          td.center.panel

          td.expander
    td.wrapper.last
      table.four.columns
        tr
          td.center.panel
          td.expander
    
        

table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center.panel
          td.expander
table.row
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center.panel
          td.expander
           
    td.wrapper.last
      table.two.columns
        tr
          td
            | 
          td.expander              
