table.row.panel
  tr
    td.wrapper.last
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            h2.heading.center: i Our Recent Favorites
          td.expander
      table.twelve.columns
        tr
          td.center
            img.star(src='https://s3-us-west-2.amazonaws.com/allrecipesemail/stars.png')
          td.expander  


table.row.panel
  tr
    td.wrapper
      table.four.columns
        tr
          td.center
            .image--border
              a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/watermelon.png')
            p.center.orange: a(href='#') Watermelon Sangria
          td.expander
    td.wrapper
      table.four.columns
        tr
          td.center
            .image--border
              a(href='#'):  img(src='http://allrecipesemail.s3.amazonaws.com/sangria.png')
            p.center.orange: a(href='#') Jell-O Shots
          td.expander
    td.wrapper.last
      table.four.columns
        tr
          td.center
            .image--border
              a(href='#'): img(src='http://allrecipesemail.s3.amazonaws.com/watermelon.png')
            p.center.orange: a(href='#') American Flag Cake
          td.expander


table.row.panel
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center
            p.center.pad Deliciously new things are always popping up on Allrecipes.
table.row.panel.border-bottom(align="center")
  tr
    td.wrapper.last
      table.twelve.columns
        tr
          td.center(colspan='12')
            center.pad-bottom
              //if mso
              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height: 40px; v-text-anchor: middle; width: 200px;', arcsize='125%', stroke='f', fillcolor='#F5A623')
                w:anchorlock
                center
              a.button.yellow(href='http://'): i See more favorites
              //if mso
        tr
          td
      



