table.container.pad
  tr.row
    td.six.columns.center
      h3.pad: i Allrecipes Magazine
  tr.row
    td.twelve.columns.center
      table.eight.columns.center
        tr.row
          td
            p.pad-bottom We’ve packed every issue with fresh recipes, trendy tips, and kitchen stories. It’s always in season.
            p: a(href='#') Subscribe Now