table.container.pad
  tr.row
    td.six.columns.center
      h3.pad: i Newsletters
  tr
    td.twelve.columns.center
      table.row.eight.columns.center
        tr.row
          td
            p We have newsletters full of favorite foods and festive ideas. Never miss a tasty moment. From baking to slow cooking, we have you covered. 


table.row.not-responsive
  tr
    td.wrapper.hide-for-small
      table.four.columns
        tr
          td.right
            img(src='http://allrecipesemail.s3.amazonaws.com/spoon.png')
          td.expander
    td.wrapper
      table.four.columns
        tr
          td.center
            p: a(href='#') Christmas Cookies
            p: a(href='#') Slow cooking
            p: a(href='#') Holiday favorites
          td.expander
    td.wrapper.last.hide-for-small
      table.four.columns
        tr
          td(align='left')
            img(src='http://allrecipesemail.s3.amazonaws.com/fork.png')





table.row.border-bottom
  tr
    td.wrapper.last(colspan='12')
      table.twelve.columns
        tr
          td.expander
          td.center(colspan='12')
            center
              //if mso
              v:roundrect(xmlns:v='urn:schemas-microsoft-com:vml', xmlns:w='urn:schemas-microsoft-com:office:word', href='http://', style='height: 40px; v-text-anchor: middle; width: 200px;', arcsize='125%', stroke='f', fillcolor='#F5A623')
                w:anchorlock
                center
              a.button.yellow(href='http://'): i See all newsletters
              //if mso
          td.expander
            
table.twelve.columns.spacer
  tr
    td.spacer
    td.spacer

