table.row
  tr
    td.wrapper
      table.four.columns
        tr
          td.panel
            | .four.columns
          td.expander
    td.wrapper
      table.four.columns
        tr
          td.panel
            | .four.columns
          td.expander
    td.wrapper.last
      table.four.columns
        tr
          td.panel
            | .four.columns
          td.expander