table.container
  tr
    td
      //
         content start 
      table.row
        tr
          td.wrapper.last
            table.twelve.columns
              tr
                td
                  .headline
                    h1.center Welcome to Allrecipes
                    h1.center We're glad you're here
                  p.subheading.center
                    | Hello [First Name]
                  p.outer-pad
                    | We love food, family, friends and fun—and believe you should have more time for the good stuff in life. We'll provide inspiration and solutions for your everyday food and cooking needs. The aim is to surprise and delight you with meals that won't overcomplicate your to-do list. Together, we'll make dishes everyone around the table will love.
              tr
                td
                  p.center 
                    a(href='#') Visit your Allrecipes account
      table.row.spacer
        tr: td
                    


